body {
    background-image: linear-gradient(to top, rgb(73, 73, 73), orange);
    text-align: center;
    font-style: "Open Sans";
    
}

form {
    background-color: white;
    display: inline-block;
    padding: 10px 15px;
    border: none;
    width: fill;
    font-size: small;
    height: fill;
    padding-top: 50px;
}
fieldset{
    text-align: left;
}

h2 {
    font-size: medium;
    text-decoration: underline;
    text-decoration-color: teal ;
}




textarea {
    background-color: lightgrey;
    border-radius: 2px;
}


