body {
    background-image: linear-gradient(to top, rgb(73, 73, 73), orange);
    
    text-align: center;
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-item {
    display:inline-block;
    border-right:2px solid rgb(134, 113, 105);
}
.nav-item:last-child {
    border-right:none;
}
.navbar-brand {
    display:inline-block;
    border-right:2px solid rgb(134, 113, 105);
    padding-right: 38px;
    padding-left: 30px;
}
form {
    background-color: white;
    display: inline-block;
    padding: 10px 15px;
    border: none;
    width: fill;
    font-size: small;
    height: fill;
    
}
fieldset{
    text-align: left;
}

h2 {
    font-size: medium;
    text-decoration: underline;
    text-decoration-color: teal ;
}




textarea {
    background-color: lightgrey;
    border-radius: 2px;
}

.btn-outline-secondary {
    color:red;
}
.btn-outline-secondary:hover {
    background-color: lightcoral;
}
