.nav-item {
    display:inline-block;
    border-right:2px solid rgb(134, 113, 105);
}
.nav-item:last-child {
    border-right:none;
}
.navbar-brand {
    display:inline-block;
    border-right:2px solid rgb(134, 113, 105);
    padding-right: 38px;
    padding-left: 30px;
}
body {
    padding-top: 40px;
}



